/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "compass";
@import "compass/reset";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);

$color-black-base : #24221f;
$color-yellow-base : #feb41c;

$goldenration-big-percent : 61.8%;
$goldenration-small-percent : 38.2%;

$gradient-base-25 : linear-gradient(to top, $color-black-base, $color-black-base 25%, transparentize($color-black-base,1));
$gradient-base-25-revert : linear-gradient(to bottom, $color-black-base, $color-black-base 25%, transparentize($color-black-base,1));
$gradient-base : linear-gradient(to top, $color-black-base, transparentize($color-black-base,1));
$gradient-base-revert : linear-gradient(to bottom, $color-black-base, transparentize($color-black-base,1));

$color-facebook : #3b5998;
$color-facebook-lighten : lighten($color-facebook, 15%);
$color-twitter : #50abf1;
$color-twitter-lighten : lighten($color-twitter, 15%);

$padding-base-quote : 200px;
$padding-base-quote-extra : 100px;



body, html{
  font-family : "Oswald", sans-serif;
  background-color: $color-black-base;
  color : white;
  display: block;
  width : 100%;
  height: 100%; margin: 0; padding: 0;

}
*
{
  @include box-sizing(border-box);
}
.container-quote
{
  @include display-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height : 100%;
  width : 100%;
  position : relative;
  z-index: 1;
  &:after{
    content: "";
    display: table;
    clear: both;
  }

  .background-quote
  {
    background-size: cover;
    background-position: center;
    position : absolute;
    left : 0;
    right : 0;
    bottom : 0;
    top : 0;
    display : block;
    height : 100%;
    width : 100%;
    opacity: .8;
    z-index: 1;
  }

  .gradient-background-quote
  {
    z-index: 2;
    position : absolute;
    left : 0;
    right : 0;
    bottom : 0;
    top : 0;
    display : block;
    height: 100%;
    width : 100%;
    @include background($gradient-base-25);
  }
  .the-quote{
    z-index: 10;
    display: block;
    height: auto;
    position : relative;
    width: auto;
    max-width : $goldenration-big-percent;

    //padding : $padding-base-quote 0 ($padding-base-quote + $padding-base-quote-extra);

    .line-quote, .author-quote{
      color: $color-black-base;
      font-size: 32px;
      line-height: 1.5em;
      font-weight: 400;
      text-transform: uppercase;
      display: inline;
      box-decoration-break: clone;
      cursor: default;
      clear: both;
      &:after{
        content: "";
        display: table;
        clear: both;
      }
    }
    .line-quote
  {
      box-shadow: 15px 0 0 $color-yellow-base, -15px 0 0 $color-yellow-base;
      @include background(linear-gradient(top, rgba(0,0,0,0) 0px, $color-yellow-base 0px, $color-yellow-base 65px, rgba(0,0,0,0) 65px));
    }
    .author-quote
    {
      font-size: 14px;
      font-family: "Open Sans", sans-serif;
      font-weight: lighter;
      color: white;
      text-transform: none;
      padding: 0 10px;
      font-style: italic;
      float : right;
      background-color: $color-black-base;

      &:before
      {
        color: inherit;
        content: "\2014 \00a0";
      }
    }

  }

}

.container-informations-quote
{
  position : relative;
  width : $goldenration-big-percent;
  height : auto;
  margin : -($padding-base-quote-extra) auto 0;
  z-index: 2;


  .container-informations-quote-left, .container-informations-quote-right{
    position : relative;
    float : left;
    height : auto;
    display : block;
    min-height: 200px;
  }
  .container-informations-quote-left
  {
    width: $goldenration-big-percent;

    .container-share-buttons-quote
    {
      position : absolute;
      left : -50px;
      top : 0;
      display : block;

      .share-buttons{
        width : 50px;
        position : relative;
        display : block;

        .share-button
        {
          display: block;
          position : relative;
          float : right;
          height : 30px;
          width : 30px;
          background-color: #DDD;
          border : 1px solid white;
          margin-bottom: 5px;

          &:after{
            content: "";
            display: table;
            clear: both;
          }

          &.share-facebook
          {
            background-color: $color-facebook;
            border-color: $color-facebook-lighten;
          }
          &.share-twitter
          {
            background-color: $color-twitter;
            border-color: $color-twitter-lighten;
          }
        }
      }
    }
  }

  .container-informations-quote-right
  {
    width: $goldenration-small-percent;

    .container-album
    {
      position : relative;
      float : left;
      margin-bottom: 20px;
      width : 100%;

      .container-cover-album
      {
        width : 100%;
        height: 100px;
        display : block;
        position : relative;
        float : left;


        .cover-album
        {
          position : absolute;
          left : 0;
          right : 0;
          bottom : 0;
          top : 0;
          z-index : 1;
          background-size: cover;
          background-position: center;
        }
        .gradient-cover-album
        {
          @include background($gradient-base-revert);
          opacity: .5;
          position : absolute;
          left : 0;
          right : 0;
          bottom : 0;
          top : 0;
          z-index : 2;
        }

        .container-informations-album
        {
          display: flex;
          position : absolute;
          left : 0;
          right : 0;
          bottom : 0;
          top : 0;
          z-index : 3;
          align-content: center;
          flex-direction: column;
          flex-wrap: wrap;
          align-items: center;

          span{
            display : block;
            width : 100%;
            text-align: center;
            text-transform: uppercase;
            line-height: 1.6em;
          }

          .title-album
          {
            font-size: 24px;
            font-weight: lighter;
            color: $color-yellow-base;
            &:after
            {
              content : " ";
              display : block;
              width: 30px;
              height: 1px;
              background-color: white;
              position : relative;
              margin: 5px auto;
            }
          }
          .artist-album, .release-album
          {
            font-weight : lighter;
          }
        }
        
      }
    }
  }
  
}

.small-title
{
  font-size: 18px;
  text-transform: uppercase;
  font-weight : bold;
  margin-bottom: 21px;
  display : block;
  position : relative;
  float : left;
}

.box-border-white
{
  position : absolute;
  left : 0;
  right : 0;
  bottom : 0;
  top : 0;
  border : 1px solid rgba(255, 255, 255, .1);
  z-index : 9;
}