/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
/* line 8, ../sass/screen.scss */
* {
  font-family: 'Open Sans', sans-serif;
}


.typeahead {
    left: auto;
    top: auto;
}​
