/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);
/* line 5, ../../../../RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 33, ../sass/screen.scss */
body, html {
  font-family: "Oswald", sans-serif;
  background-color: #24221f;
  color: white;
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 42, ../sass/screen.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 46, ../sass/screen.scss */
#logo {
  width: auto;
  height: 52px;
  display: block;
  position: fixed;
  margin-top: 20px;
  margin-left: 20px;
  z-index: 10;
}

/* line 56, ../sass/screen.scss */
.container-quote {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
}
/* line 66, ../sass/screen.scss */
.container-quote:after {
  content: "";
  display: table;
  clear: both;
}
/* line 72, ../sass/screen.scss */
.container-quote .background-quote {
  background-size: cover;
  background-position: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: block;
  height: 100%;
  width: 100%;
  opacity: .8;
  z-index: 1;
}
/* line 88, ../sass/screen.scss */
.container-quote .gradient-background-quote {
  z-index: 2;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: block;
  height: 100%;
  width: 100%;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI0MjIxZiIvPjxzdG9wIG9mZnNldD0iMjUlIiBzdG9wLWNvbG9yPSIjMjQyMjFmIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMjQyMjFmIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #24221f), color-stop(25%, #24221f), color-stop(100%, rgba(36, 34, 31, 0)));
  background: -moz-linear-gradient(bottom, #24221f, #24221f 25%, rgba(36, 34, 31, 0));
  background: -webkit-linear-gradient(bottom, #24221f, #24221f 25%, rgba(36, 34, 31, 0));
  background: linear-gradient(to top, #24221f, #24221f 25%, rgba(36, 34, 31, 0));
}
/* line 101, ../sass/screen.scss */
.container-quote .the-quote {
  z-index: 10;
  display: block;
  height: auto;
  position: relative;
  width: auto;
  margin-top: -100px;
  max-width: 61.8%;
}
/* line 110, ../sass/screen.scss */
.container-quote .the-quote .line-quote, .container-quote .the-quote .author-quote {
  color: #24221f;
  font-size: 32px;
  line-height: 1.5em;
  font-weight: 400;
  text-transform: uppercase;
  display: inline;
  box-decoration-break: clone;
  cursor: default;
  clear: both;
}
/* line 120, ../sass/screen.scss */
.container-quote .the-quote .line-quote:after, .container-quote .the-quote .author-quote:after {
  content: "";
  display: table;
  clear: both;
}
/* line 126, ../sass/screen.scss */
.container-quote .the-quote .line-quote {
  box-shadow: 15px 0 0 #feb41c, -15px 0 0 #feb41c;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmViNDFjIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmViNDFjIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 65, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, #feb41c), color-stop(100%, #feb41c), color-stop(100%, rgba(0, 0, 0, 0)));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0px, #feb41c 0px, #feb41c 65px, rgba(0, 0, 0, 0) 65px);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0px, #feb41c 0px, #feb41c 65px, rgba(0, 0, 0, 0) 65px);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0px, #feb41c 0px, #feb41c 65px, rgba(0, 0, 0, 0) 65px);
}
/* line 131, ../sass/screen.scss */
.container-quote .the-quote .author-quote {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  color: white;
  text-transform: none;
  padding: 0 10px;
  font-style: italic;
  float: right;
  background-color: #24221f;
}
/* line 143, ../sass/screen.scss */
.container-quote .the-quote .author-quote:before {
  color: inherit;
  content: "\2014 \00a0";
}

/* line 154, ../sass/screen.scss */
.container-informations-quote {
  position: relative;
  width: 61.8%;
  height: auto;
  margin: -100px auto 0;
  z-index: 2;
}
/* line 163, ../sass/screen.scss */
.container-informations-quote .container-informations-quote-left, .container-informations-quote .container-informations-quote-right {
  position: relative;
  float: left;
  height: auto;
  display: block;
  min-height: 200px;
}
/* line 170, ../sass/screen.scss */
.container-informations-quote .container-informations-quote-left {
  width: calc(61.8% - 10px);
  margin-right: 10px;
  position: relative;
  float: left;
}
/* line 177, ../sass/screen.scss */
.container-informations-quote .container-informations-quote-left .container-share-buttons-quote {
  position: absolute;
  left: -60px;
  top: 0;
  display: block;
}
/* line 184, ../sass/screen.scss */
.container-informations-quote .container-informations-quote-left .container-share-buttons-quote .share-buttons {
  width: 50px;
  position: relative;
  display: block;
}
/* line 189, ../sass/screen.scss */
.container-informations-quote .container-informations-quote-left .container-share-buttons-quote .share-buttons .share-button {
  display: block;
  position: relative;
  float: right;
  height: 30px;
  width: 30px;
  background-color: #24221f;
  border: 1px solid #4d4942;
  margin-bottom: 5px;
  cursor: pointer;
}
/* line 202, ../sass/screen.scss */
.container-informations-quote .container-informations-quote-left .container-share-buttons-quote .share-buttons .share-button:after {
  content: "";
  display: table;
  clear: both;
}
/* line 207, ../sass/screen.scss */
.container-informations-quote .container-informations-quote-left .container-share-buttons-quote .share-buttons .share-button:hover {
  background-color: #090807;
  border-color: #24221f;
}
/* line 212, ../sass/screen.scss */
.container-informations-quote .container-informations-quote-left .container-share-buttons-quote .share-buttons .share-button.share-facebook {
  background-color: #3b5998;
  border-color: #5f7ec1;
}
/* line 216, ../sass/screen.scss */
.container-informations-quote .container-informations-quote-left .container-share-buttons-quote .share-buttons .share-button.share-facebook:hover {
  background-color: #263961;
  border-color: #3b5998;
}
/* line 223, ../sass/screen.scss */
.container-informations-quote .container-informations-quote-left .container-share-buttons-quote .share-buttons .share-button.share-twitter {
  background-color: #50abf1;
  border-color: #97cdf7;
}
/* line 227, ../sass/screen.scss */
.container-informations-quote .container-informations-quote-left .container-share-buttons-quote .share-buttons .share-button.share-twitter:hover {
  background-color: #1288e2;
  border-color: #50abf1;
}
/* line 236, ../sass/screen.scss */
.container-informations-quote .container-informations-quote-left .container-comments {
  display: block;
  position: relative;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}
/* line 244, ../sass/screen.scss */
.container-informations-quote .container-informations-quote-left .container-comments .load-more-comments {
  display: block;
  height: 40px;
  width: 100%;
  background-color: #272521;
  color: white;
  line-height: 40px;
  text-align: center;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  position: relative;
  float: left;
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 261, ../sass/screen.scss */
.container-informations-quote .container-informations-quote-left .container-comments .load-more-comments:hover {
  background-color: #f5f5f5;
  color: #24221f;
}
/* line 267, ../sass/screen.scss */
.container-informations-quote .container-informations-quote-left .container-comments .comment {
  width: 100%;
  margin-bottom: 10px;
  position: relative;
  float: left;
}
/* line 274, ../sass/screen.scss */
.container-informations-quote .container-informations-quote-left .container-comments .comment .picture-user-comment {
  background-color: #feb41c;
  width: 60px;
  height: 60px;
  position: relative;
  float: left;
}
/* line 282, ../sass/screen.scss */
.container-informations-quote .container-informations-quote-left .container-comments .comment .picture-user-comment img {
  height: 100%;
  width: 100%;
}
/* line 288, ../sass/screen.scss */
.container-informations-quote .container-informations-quote-left .container-comments .comment .content-comment {
  background-color: #272521;
  width: calc(100% - 60px);
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  float: right;
  font-size: 14px;
}
/* line 297, ../sass/screen.scss */
.container-informations-quote .container-informations-quote-left .container-comments .comment .content-comment .top-comment {
  margin-bottom: 10px;
  position: relative;
  float: left;
  height: 20px;
  line-height: 20px;
}
/* line 305, ../sass/screen.scss */
.container-informations-quote .container-informations-quote-left .container-comments .comment .content-comment .top-comment .author-comment {
  color: #feb41c;
  font-weight: bold;
}
/* line 310, ../sass/screen.scss */
.container-informations-quote .container-informations-quote-left .container-comments .comment .content-comment .top-comment .date-comment {
  color: rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  float: right;
  font-size: 12px;
}
/* line 319, ../sass/screen.scss */
.container-informations-quote .container-informations-quote-left .container-comments .comment .content-comment .comment {
  font-size: 14px;
  color: #f5f5f5;
  line-height: 1.5em;
  display: block;
  padding: 0 20px;
  position: relative;
  float: left;
  height: auto;
}
/* line 330, ../sass/screen.scss */
.container-informations-quote .container-informations-quote-left .container-comments .comment .content-comment .comment:after {
  content: "";
  display: table;
  clear: both;
}
/* line 341, ../sass/screen.scss */
.container-informations-quote .container-informations-quote-right {
  width: 38.2%;
}
/* line 345, ../sass/screen.scss */
.container-informations-quote .container-informations-quote-right .container-album, .container-informations-quote .container-informations-quote-right .container-artist {
  position: relative;
  float: left;
  margin-bottom: 20px;
  width: 100%;
}
/* line 351, ../sass/screen.scss */
.container-informations-quote .container-informations-quote-right .container-album .container-informations-artist, .container-informations-quote .container-informations-quote-right .container-artist .container-informations-artist {
  height: 200px;
}
/* line 355, ../sass/screen.scss */
.container-informations-quote .container-informations-quote-right .container-album .container-cover-album, .container-informations-quote .container-informations-quote-right .container-artist .container-cover-album {
  width: 100%;
  height: 100px;
  display: block;
  position: relative;
  float: left;
}
/* line 364, ../sass/screen.scss */
.container-informations-quote .container-informations-quote-right .container-album .container-cover-album .cover-album, .container-informations-quote .container-informations-quote-right .container-artist .container-cover-album .cover-album {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1;
  background-size: cover;
  background-position: center;
}
/* line 375, ../sass/screen.scss */
.container-informations-quote .container-informations-quote-right .container-album .container-cover-album .gradient-cover-album, .container-informations-quote .container-informations-quote-right .container-artist .container-cover-album .gradient-cover-album {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI0MjIxZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI0MjIxZiIgc3RvcC1vcGFjaXR5PSIwLjAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #24221f), color-stop(100%, rgba(36, 34, 31, 0)));
  background: -moz-linear-gradient(top, #24221f, rgba(36, 34, 31, 0));
  background: -webkit-linear-gradient(top, #24221f, rgba(36, 34, 31, 0));
  background: linear-gradient(to bottom, #24221f, rgba(36, 34, 31, 0));
  opacity: .5;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 2;
}
/* line 387, ../sass/screen.scss */
.container-informations-quote .container-informations-quote-right .container-album .container-cover-album .container-informations-album, .container-informations-quote .container-informations-quote-right .container-artist .container-cover-album .container-informations-album {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 3;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
/* line 401, ../sass/screen.scss */
.container-informations-quote .container-informations-quote-right .container-album .container-cover-album .container-informations-album span, .container-informations-quote .container-informations-quote-right .container-artist .container-cover-album .container-informations-album span {
  display: block;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.6em;
}
/* line 409, ../sass/screen.scss */
.container-informations-quote .container-informations-quote-right .container-album .container-cover-album .container-informations-album .title-album, .container-informations-quote .container-informations-quote-right .container-artist .container-cover-album .container-informations-album .title-album {
  font-size: 24px;
  font-weight: lighter;
  color: #feb41c;
}
/* line 414, ../sass/screen.scss */
.container-informations-quote .container-informations-quote-right .container-album .container-cover-album .container-informations-album .title-album:after, .container-informations-quote .container-informations-quote-right .container-artist .container-cover-album .container-informations-album .title-album:after {
  content: " ";
  display: block;
  width: 30px;
  height: 1px;
  background-color: white;
  position: relative;
  margin: 5px auto;
}
/* line 425, ../sass/screen.scss */
.container-informations-quote .container-informations-quote-right .container-album .container-cover-album .container-informations-album .artist-album, .container-informations-quote .container-informations-quote-right .container-album .container-cover-album .container-informations-album .release-album, .container-informations-quote .container-informations-quote-right .container-artist .container-cover-album .container-informations-album .artist-album, .container-informations-quote .container-informations-quote-right .container-artist .container-cover-album .container-informations-album .release-album {
  font-weight: lighter;
}

/* line 438, ../sass/screen.scss */
.container-artist .container-informations-artist {
  position: relative;
  float: left;
  width: 100%;
}
/* line 443, ../sass/screen.scss */
.container-artist .container-informations-artist .container-image-artist {
  width: 50px;
  height: 150px;
  margin: 25px 10px;
  display: block;
  position: relative;
  float: left;
  z-index: 3;
}
/* line 452, ../sass/screen.scss */
.container-artist .container-informations-artist .container-image-artist .image-artist {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  background-position: center;
  background-size: cover;
  opacity: 1 !important;
}
/* line 465, ../sass/screen.scss */
.container-artist .container-informations-artist .container-informations {
  height: 200px;
  margin: 25px 0;
  width: calc(100% - 100px);
  position: relative;
  float: left;
  z-index: 3;
}
/* line 474, ../sass/screen.scss */
.container-artist .container-informations-artist .container-informations .information-artist {
  position: relative;
  float: left;
  margin-bottom: 5px;
  width: 100%;
  display: block;
  line-height: 1.5em;
  text-transform: uppercase;
}
/* line 484, ../sass/screen.scss */
.container-artist .container-informations-artist .container-informations .information-artist.name-artist {
  color: #feb41c;
  font-size: 21px;
  font-weight: lighter;
  margin-bottom: 10px;
}
/* line 492, ../sass/screen.scss */
.container-artist .container-informations-artist .container-informations .information-artist.information-artist-part {
  line-height: 1em;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
  position: relative;
  float: left;
  display: block;
  width: 100%;
}
/* line 503, ../sass/screen.scss */
.container-artist .container-informations-artist .container-informations .information-artist.information-artist-part .information-title, .container-artist .container-informations-artist .container-informations .information-artist.information-artist-part .information-content {
  display: block;
  position: relative;
  float: left;
}
/* line 509, ../sass/screen.scss */
.container-artist .container-informations-artist .container-informations .information-artist.information-artist-part .information-title {
  width: 100%;
  margin-bottom: 3px;
  font-weight: bold;
}
/* line 515, ../sass/screen.scss */
.container-artist .container-informations-artist .container-informations .information-artist.information-artist-part .information-content {
  font-weight: lighter;
  font-size: 15px;
}
/* line 524, ../sass/screen.scss */
.container-artist .container-informations-artist .image-artist {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  opacity: .4;
  z-index: 1;
}
/* line 536, ../sass/screen.scss */
.container-artist .container-informations-artist .gradient-image-artist {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjEuMCIgeTE9IjAuNSIgeDI9IjAuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI0MjIxZiIvPjxzdG9wIG9mZnNldD0iMjUlIiBzdG9wLWNvbG9yPSIjMjQyMjFmIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMjQyMjFmIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 100% 50%, 0% 50%, color-stop(0%, #24221f), color-stop(25%, #24221f), color-stop(100%, rgba(36, 34, 31, 0)));
  background: -moz-linear-gradient(right, #24221f, #24221f 25%, rgba(36, 34, 31, 0));
  background: -webkit-linear-gradient(right, #24221f, #24221f 25%, rgba(36, 34, 31, 0));
  background: linear-gradient(to left, #24221f, #24221f 25%, rgba(36, 34, 31, 0));
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
}

/* line 550, ../sass/screen.scss */
.container-artist-big {
  height: 100%;
}
/* line 554, ../sass/screen.scss */
.container-artist-big .container-informations-artist {
  height: 100%;
}
/* line 558, ../sass/screen.scss */
.container-artist-big .container-informations-artist .container-image-artist {
  width: 200px;
  height: calc(100% - 100px);
  margin: 50px;
}
/* line 565, ../sass/screen.scss */
.container-artist-big .container-informations-artist .container-informations {
  height: auto;
  margin-top: 50px;
  width: calc(100% - 300px);
}
/* line 571, ../sass/screen.scss */
.container-artist-big .container-informations-artist .container-informations .name-artist {
  font-size: 36px !important;
}
/* line 576, ../sass/screen.scss */
.container-artist-big .container-informations-artist .gradient-image-artist {
  background: linear-gradient(to right, rgba(36, 34, 31, 0), #24221f 550px, #24221f);
}

/* line 583, ../sass/screen.scss */
.small-title {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
  position: relative;
  float: left;
}

/* line 594, ../sass/screen.scss */
.box-border-white {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border: 1px solid rgba(255, 255, 255, 0.1);
  z-index: 9;
}
