/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);
/* line 20, ../sass/screen.scss */
body {
  font-family: "Oswald", sans-serif;
  background-color: #24221f;
  color: white;
  display: block;
  height: auto;
  width: 100%;
}

/* line 29, ../sass/screen.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 33, ../sass/screen.scss */
.container-quote {
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
}
/* line 40, ../sass/screen.scss */
.container-quote:after {
  content: "";
  display: table;
  clear: both;
}
/* line 47, ../sass/screen.scss */
.container-quote .background-quote {
  background-size: cover;
  background-position: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: block;
  height: 100%;
  width: 100%;
  opacity: .8;
  z-index: 1;
}
/* line 62, ../sass/screen.scss */
.container-quote .gradient-background-quote {
  z-index: 2;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: block;
  height: 100%;
  width: 100%;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI0MjIxZiIvPjxzdG9wIG9mZnNldD0iMjUlIiBzdG9wLWNvbG9yPSIjMjQyMjFmIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMjQyMjFmIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #24221f), color-stop(25%, #24221f), color-stop(100%, rgba(36, 34, 31, 0)));
  background: -moz-linear-gradient(bottom, #24221f, #24221f 25%, rgba(36, 34, 31, 0));
  background: -webkit-linear-gradient(bottom, #24221f, #24221f 25%, rgba(36, 34, 31, 0));
  background: linear-gradient(to top, #24221f, #24221f 25%, rgba(36, 34, 31, 0));
}
/* line 75, ../sass/screen.scss */
.container-quote .the-quote {
  z-index: 10;
  display: flex;
  justify-content: flex-start;
  height: 100%;
  position: relative;
  width: 61.8%;
  margin: 0 auto;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}
/* line 87, ../sass/screen.scss */
.container-quote .the-quote .line-quote {
  color: #24221f;
  font-size: 32px;
  line-height: 1.5em;
  font-weight: 400;
  padding: 0 15px;
  clear: both;
  text-transform: uppercase;
  display: inline;
  box-decoration-break: clone;
  cursor: default;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmViNDFjIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmViNDFjIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 65, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, #feb41c), color-stop(100%, #feb41c), color-stop(100%, rgba(0, 0, 0, 0)));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0px, #feb41c 0px, #feb41c 65px, rgba(0, 0, 0, 0) 65px);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0px, #feb41c 0px, #feb41c 65px, rgba(0, 0, 0, 0) 65px);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0px, #feb41c 0px, #feb41c 65px, rgba(0, 0, 0, 0) 65px);
}
/* line 102, ../sass/screen.scss */
.container-quote .the-quote .author-quote {
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  padding: 0 10px;
  background-color: #24221f;
  align-self: flex-end;
  color: white;
}

/* line 115, ../sass/screen.scss */
.container-informations-quote {
  position: relative;
  margin: 0 auto;
  width: 61.8%;
  height: auto;
  margin-top: -100px;
  z-index: 1;
}
/* line 124, ../sass/screen.scss */
.container-informations-quote .container-informations-quote-left, .container-informations-quote .container-informations-quote-right {
  position: relative;
  float: left;
  height: auto;
  display: block;
  min-height: 200px;
}
/* line 131, ../sass/screen.scss */
.container-informations-quote .container-informations-quote-left {
  width: 61.8%;
}
/* line 136, ../sass/screen.scss */
.container-informations-quote .container-informations-quote-right {
  width: 38.2%;
}
/* line 140, ../sass/screen.scss */
.container-informations-quote .container-informations-quote-right .container-album {
  position: relative;
  float: left;
  margin-bottom: 20px;
  width: 100%;
}
/* line 146, ../sass/screen.scss */
.container-informations-quote .container-informations-quote-right .container-album .container-cover-album {
  width: 100%;
  height: 100px;
  display: block;
  position: relative;
  float: left;
}
/* line 156, ../sass/screen.scss */
.container-informations-quote .container-informations-quote-right .container-album .container-cover-album .cover-album {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1;
  background-size: cover;
  background-position: center;
}
/* line 167, ../sass/screen.scss */
.container-informations-quote .container-informations-quote-right .container-album .container-cover-album .gradient-cover-album {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI0MjIxZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI0MjIxZiIgc3RvcC1vcGFjaXR5PSIwLjAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #24221f), color-stop(100%, rgba(36, 34, 31, 0)));
  background: -moz-linear-gradient(top, #24221f, rgba(36, 34, 31, 0));
  background: -webkit-linear-gradient(top, #24221f, rgba(36, 34, 31, 0));
  background: linear-gradient(to bottom, #24221f, rgba(36, 34, 31, 0));
  opacity: .5;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 2;
}
/* line 179, ../sass/screen.scss */
.container-informations-quote .container-informations-quote-right .container-album .container-cover-album .container-informations-album {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 3;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
/* line 193, ../sass/screen.scss */
.container-informations-quote .container-informations-quote-right .container-album .container-cover-album .container-informations-album span {
  display: block;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.6em;
}
/* line 201, ../sass/screen.scss */
.container-informations-quote .container-informations-quote-right .container-album .container-cover-album .container-informations-album .title-album {
  font-size: 24px;
  font-weight: lighter;
  color: #feb41c;
}
/* line 206, ../sass/screen.scss */
.container-informations-quote .container-informations-quote-right .container-album .container-cover-album .container-informations-album .title-album:after {
  content: " ";
  display: block;
  width: 30px;
  height: 1px;
  background-color: white;
  position: relative;
  margin: 5px auto;
}
/* line 217, ../sass/screen.scss */
.container-informations-quote .container-informations-quote-right .container-album .container-cover-album .container-informations-album .artist-album, .container-informations-quote .container-informations-quote-right .container-album .container-cover-album .container-informations-album .release-album {
  font-weight: lighter;
}

/* line 229, ../sass/screen.scss */
.small-title {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 21px;
  display: block;
  position: relative;
  float: left;
}

/* line 240, ../sass/screen.scss */
.box-border-white {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border: 1px solid rgba(255, 255, 255, 0.1);
  z-index: 9;
}
